# Build results
/out/
**/build/

# VS
.editorconfig
.vs

# VS Code
.vscode

# cmake
CMakeUserPresets.json
CMakePresets.json

# Compiled Object files
*.o

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.a

# Executables
*.out

# Temporary files
*.tmp

# Logs
**/logs/
*.log

# Notes
**/notes.txt

# Compiled translations
.mo
